<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Posted Jobs</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
  
    <h2>Employer Details</h2>
    <table class="table">
      <thead>
        <tr>
          <th>company name</th>
          <th>Company Address</th>
          <th>contactPerson</th>
          <th>Email</th>
          <th>Mobile No</th>
          <th>workPlace</th>
        </tr>
      </thead>
      <tbody>
      <% res1.forEach(function (employers){ %>

    
          <tr>
            <td><%= employers.company_name %></td>
            <td><%= employers.company_address %></td>
            <td><%= employers.contact_person %></td>
            <td><%= employers.email %></td>
            <td><%= employers.mobile_no %></td>
            <td><%= employers.work_place %></td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <a href="/views/job.ejs" class="btn btn-primary">Back</a>
    
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
